
<div class="container text-center">
    <h3>Mi experiencia profesional</h3>
<div class="row text-center">
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>Inercy Software</b>
                </h3>
            </div>
            <div class="panel-body">
                <td>
                    <p>Mexicali, Baja California</p>
                    <p>Front End Web Developer</p>
                    <p>Junio 2019 - Agosto 2019</p> 
                </td>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>OS5 Technology Solutions</b>
                </h3>
            </div>
            <div class="panel-body">
                <td>
                    <p>San Diego, California</p>
                    <p>Software Developer Intern</p>
                    <p>Enero 2020 - Febrero 2020</p> 
                </td>
            </div>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>Aelus</b>
                </h3>
            </div>
            <div class="panel-body">
                <td>
                    <p>Mexicali, Baja California</p>
                    <p>Software Developer</p>
                    <p>Junio 2020 - Agosto 2020</p> 
                </td>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>Cuatro Punto Cero</b>
                </h3>
            </div>
            <div class="panel-body">
                <td>
                    <p>Mexicali, Baja California</p>
                    <p>Software Developer</p>
                    <p>Junio 2020 - Agosto 2020</p> 
                </td>
            </div>
        </div>
    </div>
  </div>





</div>

